<div class="modal" id="editUserPassword" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="text-start" [formGroup]="editPasswordForm">
          <div class="form-group">
            <label for="currentPassword" class="col-form-label">Current password:</label>
            <input type="password" class="form-control" formControlName="currentPassword" autocomplete="off" required>
            <div *ngIf="editPasswordForm.get('currentPassword')?.errors && editPasswordForm.get('currentPassword')?.touched" class="text-danger">
              Current password is required.
            </div>
            <label for="newPassword" class="col-form-label">New password:</label>
            <input type="password" class="form-control" formControlName="newPassword" autocomplete="off" required>
            <div *ngIf="editPasswordForm.get('newPassword')?.errors && editPasswordForm.get('newPassword')?.touched" class="text-danger">
              {{invalidPassword}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editUserPassword()">Yes</button>
      </div>
    </div>
  </div>
</div>
